<launch>

<arg name="play" default="True"/>
<arg name="rosbag" default="/home/akshay/miniRecords/encoder_val2.bag" />

<group unless="$(arg play)">
  <node pkg="rosbag" type="record" name="ros_bag" args="-o /home/akshay/miniRecords/record_ /feedback_val" output="screen"/>
</group>

<group if="$(arg play)">
  <node pkg="rosbag" type="play" name="robot_bag_player" args="$(arg rosbag) --keep-alive --clock" />
</group>

</launch>
