<launch>
  <node pkg="throttle_control" type="speed_raw.py" name="speed_raw" output="screen"/>
  <node pkg="throttle_control" type="feedback.py" name="feedback" output="screen"/>
  <node pkg="throttle_control" type="drive.py" name="feedback" output="screen"/>
  <node pkg="throttle_control" type="controller.py" name="feedback" output="screen"/>
</launch>
